{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}SIGN{% endblock title %}
{% block qq %}{% endblock qq %}
{% block content %}
<style>
    *{margin: 0px;padding: 0px;box-sizing: border-box;}
    .stro{
        width: 100%;
        height: 20px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        background-color: #d2bcc5;
    }
    .passw{
        height: 100%;
        width: 0%;
        background-color: white;
        border-radius: 5px;
        transition-duration: 0.5s;
    }
    body{
        background-color: #d2bcc5;
    }
    table{
        margin:10px ;
        width: 800px;
        border:1px solid black;
        padding:15px;
        background-color: rgb(150,100,120);
        border-radius:5px;
        box-shadow: 50px 50px 10px #9a8b8b;
    }
    td,th{
        border:1px solid black;
        padding:15px;
        border-radius:5px;
        width: 50%;
        
    }
    tr{
        background-color: rgb(220,200,200);
    }
    input[type=submit]{
        background-color: rgb(50,20,20);
        color:white;
        padding:10px 15px;
        display: block;
        margin: 0 auto;
        border:1px solid black;
        font-size: 18px;
        border-radius:5px;
        transition-duration: 0.5s;
        cursor: pointer;
    }
    input[type=submit]:hover{
        background-color: rgb(220,200,200);
        color:black;
    }
    label{
        font-weight: bold;
        font-size: large;
    }
    .inputtxt{
        background-color: transparent;
        border:1px solid black;
        padding:10px;
        border-radius: 10px;
        width:150px;
        transition-duration:0.5s;
    }
    .inputtxt:focus{
        width:250px;
        background-color: white;
    }
    .inputnum{
        background-color: transparent;
        border:1px solid black;
        padding:10px;
        border-radius: 10px;
        width:50px;
        transition-duration:0.5s;
    }
    .inputnum:focus{
        background-color: white;
    }
</style>
<h2>SIGN IN</h2> 
<form action="" method="post">
    {% csrf_token %}
    <table>
        <thead>
            <th colspan="2">
                Register-Form
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label for="id_username">{{ form.username.label_tag }}</label>
                </td>
                <td>
                    {{ form.username }}
                    {{ form.username.errors }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_email">{{ form.email.label_tag }}</label>
                </td>
                <td>
                    {{ form.email }}
                    {{ form.email.errors }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_age">{{ form.age.label_tag }}</label>
                </td>
                <td>
                    {{ form.age }}
                    {{ form.age.errors }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_password1">{{ form.password1.label_tag }}</label>
                </td>
                <td>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_password2">{{ form.password2.label_tag }}</label>
                </td>
                <td>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="stro">
                        <div class="passw"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Send">
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script>
    let count = 0
    function check(event){
        let ch = event.keyCode
        if ((ch < 65 || ch > 90) && ch != 8) {
            event.preventDefault();
        }
    }
    function show(){
        count++;
        if (count % 2 == 0) {
            document.getElementById('id_password1').type = 'password';
            document.getElementById('showw').style.color = "red";
        } else {
            document.getElementById('id_password1').type = 'text';
            document.getElementById('showw').style.color = "blue";
        }
    }
    function pass(event) {
        password = document.getElementById('id_password1').value
        ico = document.getElementsByClassName('passw').style
        let strength = {
            hasLower: false,
            hasUpper: false,
            hasNumber: false,
            hasSymbol: false,
        };

        if (/[a-z]/.test(password)) {
            strength.hasLower = true;
        }
        if (/[A-Z]/.test(password)) {
            strength.hasUpper = true;
        }
        if (/[0-9]/.test(password)) {
            strength.hasNumber = true;
        }
        if (/[^a-zA-Z0-9]/.test(password)) {
            strength.hasSymbol = true;
        }

        let criteriaMet = 0;
        if (strength.hasLower) criteriaMet++;
        if (strength.hasUpper) criteriaMet++;
        if (strength.hasNumber) criteriaMet++;
        if (strength.hasSymbol) criteriaMet++;

        let strengthLevel = "";
        switch (criteriaMet) {
            case 0:
                document.getElementsByClassName('passw')[0].style.backgroundColor = "white"
                document.getElementsByClassName('passw')[0].style.width = '0%';
                break;
            case 1:
                document.getElementsByClassName('passw')[0].style.backgroundColor = "red"
                document.getElementsByClassName('passw')[0].style.width = '25%';
            break;
            case 2:
                document.getElementsByClassName('passw')[0].style.backgroundColor = "orange"
                document.getElementsByClassName('passw')[0].style.width = '50%';
            break;
            case 3:
                document.getElementsByClassName('passw')[0].style.backgroundColor = "yellow"
                document.getElementsByClassName('passw')[0].style.width = '75%';
            break;
            case 4:
                document.getElementsByClassName('passw')[0].style.backgroundColor = "limegreen"
                document.getElementsByClassName('passw')[0].style.width = '100%';
            break;
        }

    }


</script>
{% endblock content %}
